*
!package.json
!pnpm-lock.yaml
!.npmrc
!LICENSE
!version.yaml
!tsconfig.json
!config/
!config/**
!src/
!src/**
src/.umi*
src/.umi*/**
!public/
!public/**
!back/
!back/**
!shell/
!shell/*.py
!scripts/
!scripts/build-back.cjs
!scripts/release/
!scripts/release/build-info.cjs
!scripts/release/entrypoint.cjs
!scripts/release/healthcheck.cjs
!.umirc.ts
!scripts/release/prune-fixtures.cjs
